/* line 4, ../sass/rever.scss */
.headerhome {
  width: 1010px;
  margin: 0 0 0 1px;
  border-radius: 5px;
  height: 107px;
  background: transparent url("../img/header-bg.png") repeat-x 0 -3px;
}
/* line 11, ../sass/rever.scss */
.headerhome .topgrid {
  height: 101px;
  border-radius: 5px 5px 0 0;
  background: url(../img/header-bg-wrapper.png) 0 0 no-repeat;
}
/* line 16, ../sass/rever.scss */
.headerhome .topgrid .versologo {
  width: 170px;
  height: 70px;
  margin: 17px 0 0 21px;
  float: left;
}
/* line 22, ../sass/rever.scss */
.headerhome .topgrid .versologo a {
  color: #366092;
  cursor: pointer;
}
/* line 26, ../sass/rever.scss */
.headerhome .topgrid .versologo a img {
  border: 0 none;
}
/* line 33, ../sass/rever.scss */
.headerhome .spacer {
  clear: both;
}
/* line 36, ../sass/rever.scss */
.headerhome .spacer .mbar {
  width: 100%;
  margin: 0;
}
/* line 40, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar {
  margin-right: 0;
  top: -94px;
  float: none;
}
/* line 45, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar a {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
}
/* line 52, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .activelogo {
  float: left;
  height: 27px;
  display: none;
  top: 0;
  margin-left: 3px;
  border-radius: 3px;
}
/* line 60, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .activelogo img {
  border: 0 none;
}
/* line 66, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .active-nav-wrap {
  text-align: right;
  float: right;
  margin-top: 4px;
}
/* line 71, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .active-nav-wrap .active-nav-item-nav {
  border-right: 1px solid #fff;
  padding-right: 4px;
}
/* line 75, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .active-nav-wrap .active-nav-item-nav .first {
  padding-left: 0;
  background-image: none;
}
/* line 79, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .active-nav-wrap .active-nav-item-nav .first a {
  height: auto;
}
/* line 85, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .active-nav-wrap .active-nav-item-nav .last {
  padding-right: 0;
  margin-right: 2px;
}
/* line 93, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .social-list {
  padding-left: 6px;
}
/* line 96, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .social-list .first {
  padding-left: 0;
  background-image: none;
}
/* line 99, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .social-list .first a {
  height: auto;
}
/* line 102, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .social-list .first a img {
  border: 0 none;
  vertical-align: middle;
  display: inline-block;
  border: 0 none;
}
/* line 108, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .social-list .first a img span {
  margin: 0;
  display: inline-block;
  float: none;
}
/* line 119, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .social-list li {
  display: inline-block;
  padding-right: 0;
  padding-left: 8px;
  background-image: url("../img/nav-bullet.png");
}
/* line 126, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .social-list li a {
  height: auto;
}
/* line 130, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .social-list li a img {
  border: none;
}
/* line 133, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .social-list li a img span {
  margin: 0;
  display: inline-block;
  float: none;
}
/* line 144, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .select-liste {
  float: none;
  display: inline-block;
  margin: 0;
  height: auto;
  vertical-align: middle;
}
/* line 151, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .select-liste .ingselect {
  height: 21px;
  position: relative;
  top: 0;
  left: -7px;
}
/* line 157, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .select-liste .ingselect .select-langue {
  font-size: 11px;
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  color: #000;
  border: 1px solid #a6acc8;
  margin: 4px;
  margin-top: 0;
  background-color: #fff;
  padding: 1px;
  width: 81px;
}
/* line 168, ../sass/rever.scss */
.headerhome .spacer .mbar .tbar .select-liste .ingselect .select-langue option {
  font-size: 11px;
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  color: #000;
}
